<div class="row">
            <div class="col-xs-4 workDiv">
                <a href="" class="thumbnail">
                    <img src="/../img/rqm.jpg" style="width:500px;height:200px">
                </a>
            </div>
            <div class="col-xs-4 workDiv">
                <a href="" class="thumbnail">
                    <img src="/../img/lwi.jpg" style="width:500px;height:200px">
                </a>
            </div>
            <div class="col-xs-4 workDiv">
                <a href="" class="thumbnail">
                    <img src="/../img/wv.jpg" style="width:500px;height:200px">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 workDiv">
                <a href="" class="thumbnail">
                    <img src="/../img/ts.jpg" style="width:500px;height:200px">
                </a>
            </div>
            <div class="col-xs-4 workDiv">
                <a href="" class="thumbnail">
                    <img src="/../img/JS_Calculator.jpg" style="width:200px;height:200px">
                </a>
            </div>
            <div class="col-xs-4 workDiv">
                <a href="" class="thumbnail">
                    <img src="/../img/Pomodoro_clock.jpg" style="width:500px;height:200px">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 workDiv">
                <a href="" class="thumbnail">
                    <img src="/../img/tic_tac_toe.jpg" style="width:500px;height:200px">
                </a>
            </div>
            <div class="col-xs-4 workDiv">
                <a href="" class="thumbnail">
                    <img src="/../img/Simon_game.jpg" style="width:500px;height:200px">
                </a>
            </div>
        </div>
    </div>