<div>
<h1 class="heading1 text-center"><span class="firstname">AJINKYA</span><span class="middlename"> B.</span><span class="surname"> DESHMUKH</span><img class="myimage" src="https://avatars3.githubusercontent.com/u/18378062?v=3&s=466" align="right"></h1>
    
<div class="container">
   <p class="intro"><u>A creative full stack web developer who loves turning complex ideas into code.</u></p>
 </div>   
 
 <div class="everything row">
   <div class="col-xs-3">
    <a href="/#/skills">
    <figure class="skills">
      <i class="fa fa-cog fa-spin fa-4x fa-fw" aria-hidden="true"></i>
      <figcaption>
        <p>Skills</p>
      </figcaption>
    </figure> 
    </a>
   </div>
   <div class="col-xs-3">
     <a href="/#/work">
    <figure class="work">
      <i class="fa fa-code fa-4x fa-fw" aria-hidden="true"></i>
      <figcaption>
        <p>Work</p>
      </figcaption>
    </figure> 
    </a>
   </div>
   <div class="col-xs-3">
     <a href="/#/contact">
    <figure class="contact">
      <i class="fa fa-envelope fa-4x fa-fw" aria-hidden="true"></i>
      <figcaption>
        Contact
      </figcaption>
    </figure> 
    </a>
   </div>
 </div>
 </div>